---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { getI18N } from '@i18n/index';

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
const dataCV = getI18N({ currentLang });
const { education } = dataCV
---

<section>
  <h2><i class="ti ti-books"></i> {t('education.title')}</h2>
  <div class="articles-container">
  {
    education.map(
      ({ course, degree, institution, location, startDate, endDate }) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual"

        return (
          <article>
            <div>
              <time 
                datetime={startDate}
                data-title={startDate}>
                  {startYear}
              </time>
              {" - "}
              <time 
                datetime={endDate}
                data-title={endDate}>
                  {endYear}
              </time>
            </div>
            <h3>{degree}</h3>
            <h4>{course}</h4>
            <p>{institution}</p>
            <p>{location}</p>
          </article>
        )
      }
    )
  }
  </div>
</section>

<style>
  section {
    grid-area: education;
  }
</style>