---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { getI18N } from '@i18n/index';

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
const dataCV = getI18N({ currentLang });
const { projects } = dataCV
---

<section>
	<div class="section-container">
    <h2 class="section-title">{t('projects.title')}</h2>
    <div class="projects-container">
    {
      projects.filter(({ isActive }) => isActive).map(({ name, image, shortDescription, github, url, stackIcons }) => {
        return (
          <div class="project-item" style={`background-image: url('${image}')`}>
            <div class="project-content">
              <h3>{name}</h3>
              <div class="icons-container">{stackIcons.map(e => <i class={`ti ti-brand-${e}`} aria-label={`${e} icon`}></i>)}</div>
              <div class="links-container">
                <a href={github} target="_blank" aria-label="github">
                  <span class="ti ti-brand-github"></span>
                </a>
                <a href={url} target="_blank" aria-label={name}>
                  <span class="ti ti-external-link"></span>
                </a>
              </div>
            </div>
            <div class="project-overlay"></div>
          </div>
        )
      })
    }
    </div>
  </div>
</section>

<style>
  :root {
    --projects-separation: .5rem;
  }
  section {
    padding-block: 4rem;
		@media (width >= 768px) {
			padding-block: 6rem;
		}
  }
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--projects-separation);
    justify-content: start;
    width: 100%;
    .project-item {
      align-items: flex-start;
      aspect-ratio: 345/244;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 5px solid var(--footer-bg-color);
      color: var(--text-black);
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      padding: 3rem 2rem;
      position: relative;
      text-align: center;
      width: 100%;
      .project-content,
      h3{
        color: #F8F9FA;
      }
      .project-content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        opacity: 0%;
        text-align: left;
        transition: .5s ease-in-out;
        width: 100%;
        z-index: 2;
      }
      h3{
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: .2rem;
      }
      .icons-container {
        display: flex;
        gap: .5rem;
        i {
          color: #F8F9FA;
          font-size: 1.8rem;
        }
        .ti-brand-vite { color: #646CFF; }
        .ti-brand-react { color: #61DAFB; }
        .ti-brand-typescript { color: #3178C6; }
        .ti-brand-sass { color: #CD6799; }
        .ti-brand-tailwind { color: #06B6D4; }
        .ti-brand-firebase { color: #FFCA28; }
      }
      .links-container {
        display: flex;
        gap: .5rem;
        justify-content: flex-end;
      }
      a {
        align-items: center;
        color: #222222;
        background-color: #F5F5F5;
        border-radius: 100%;
        display: flex;
        font-size: 1.8rem;
        justify-content: center;
        padding: .5rem;
        width: fit-content;
      }
      a:hover {
        color: white;
        background-color: var(--purple-primary);
      }
      .project-overlay {
        background-color: #222222d0;
        inset: 0;
        mix-blend-mode: multiply;
        opacity: 0%;
        position: absolute;
        transition: .5s ease-in-out;
        z-index: 1;
      }

      &:hover {
        .project-content,
        .project-overlay {
          opacity: 100%;
        }
      }
      @media (width >= 768px) {
        flex: 1 1 calc(50% - var(--projects-separation));
        max-width: calc(50% - var(--projects-separation));
        width: calc(50% - var(--projects-separation));
      }
      @media (width >= 1024px) {
        flex: 1 1 calc(33.33% - var(--projects-separation));
        max-width: calc(33.33% - var(--projects-separation));
        width: calc(33.33% - var(--projects-separation));
      }
    }
  }
</style>